
@using Test_Library.Helper
@model Test_Library.Models.PartialActionModel<Test_Model.Models.Employees>

@{
    var action = Model.Action;
    var controller = Model.Controller;
    ViewBag.Title = action.Contains("Create") ? "Thêm mới"
                                              : "Cập nhật";
    int pn = Model.Page;
}

<div class="page-header">
    <h1>
        @ViewBag.Title
    </h1>
</div>

<div class="row">
    @if (TempData["Success"] != null)
    {
        <strong style="color:green">@TempData["Success"]</strong>
    }
    <strong style="color:red">@ViewBag.Error</strong>
</div>

<div class="row">
    <div class="col-xs-12">
        @using (Html.BeginForm(action, controller, FormMethod.Post, new { encType = "multipart/form-data", @class = "form-horizontal", @role = "form" }))
        {
            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
            @Html.Hidden("AreaCode", (string)ViewBag.AreaCodeValue)
            @Html.Hidden("key", (string)ViewBag.keyValue)
            @if (action.Contains("Create"))
            {
                @Html.Hidden("SaveAndCountinue", false)
            }
            else
            {
                @Html.HiddenFor(n => n.Model.Id)
                @Html.Hidden("page", pn)
            }



            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right"> Tên </label>
                <div class="col-sm-3 col-xs-12">
                    @Html.TextBox("FullName", Model.Model.FullName, new { @class = "form-control", @placeholder = "Full Name" })
                    @Html.ValidationMessage("Code", "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right"> Tuổi </label>
                <div class="col-sm-3 col-xs-12">
                    @Html.TextBox("Age", Model.Model.Age, new { @class = "form-control", @placeholder = "Tuổi" })
                    @Html.ValidationMessage("Name", "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right"> Địa chỉ </label>
                <div class="col-sm-3 col-xs-12">
                    @Html.TextBox("Adress", Model.Model.Adress, new { @class = "form-control", @placeholder = "Địa chỉ" })
                    @Html.ValidationMessage("Name", "", new { @class = "text-danger" })
                </div>
            </div>

            @if (action.Contains("Create"))
            {
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right"> Mô tả </label>
                    <div class="col-sm-3 col-xs-12">
                        @Html.TextArea("Note", Model.Model.Note, new { @class = "form-control", @placeholder = "Mô tả" })
                        @Html.ValidationMessage("Note", "", new { @class = "text-danger" })
                    </div>
                </div>
            }
           



            @await Html.PartialAsync("~/Views/Shared/Partials/ButtonPartial.cshtml", new Test_Library.Models.AuthPartialModel()
            {
          ControllerName = controller,
          ActionName = action,
          RecordId = "",
          model = new { AreaCode = ViewBag.AreaCodeValue },
          Auth_Value = null
      })

        }
    </div>
</div>

