@model Test_Model.Models.MenuFunction_Submit
@using Test_Library.Helper

@{
    ViewBag.Title = "Thêm mới menu";
    Layout = Test_Library.Helper.FunctionHelper.GetLayout(ViewBag.AreaCodeValue);
}

<div class="page-header">
    <h1>
        Thêm mới
    </h1>
</div>

<div class="row">
    @if (TempData["Success"] != null)
    {
        <strong style="color:green">@TempData["Success"]</strong>
    }
    <strong style="color:red">@ViewBag.Error</strong>
</div>

<div class="row">
    <div class="col-xs-12">
        @using (Html.BeginForm("Create", "MenuFunction", FormMethod.Post, new { encType = "multipart/form-data", @class = "form-horizontal", @role = "form" }))
        {
            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
            @Html.Hidden("SaveAndCountinue", false)
            @Html.Hidden("AreaCode", (string)ViewBag.AreaCodeValue)

            <div class="form-group">
                <label class="col-sm-4 control-label no-padding-right">  Tên menu<span style="color:red">*</span></label>
                <div class="col-sm-4 col-xs-12">
                    @Html.TextBoxFor(n => n.MenuName, new { @class = "form-control", @placeholder = "Tên menu" })
                    @Html.ValidationMessageFor(n => n.MenuName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-4 control-label no-padding-right">Tên controller </label>
                <div class="col-sm-4 col-xs-12">
                    @Html.TextBoxFor(n => n.ControllerName, new { @class = "form-control", @placeholder = "Tên controller", @Value = (string)ViewBag.Controller })
                    @Html.ValidationMessageFor(n => n.ControllerName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-4 control-label no-padding-right"> Tên action</label>
                <div class="col-sm-4 col-xs-12">
                    @Html.TextBoxFor(n => n.ActionName, new { @class = "form-control", @placeholder = "Tên action"})
                    @Html.ValidationMessageFor(n => n.ActionName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-4 control-label no-padding-right"> Cấp cha </label>
                <div class="col-sm-4 col-xs-12">
                    @Html.DropDownListFor(n => n.ParentId, new SelectList(ViewBag.Data_MenuFunction, "ItemValue", "ItemText", (string)ViewBag.Parent), new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-4 control-label no-padding-right"> Loại danh mục </label>
                <div class="col-sm-4 col-xs-12">
                    @Html.DropDownListFor(n => n.MenuType, new SelectList(ViewBag.Data_MenuType, "ItemValue", "ItemText", (string)ViewBag.Type), new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-4 control-label no-padding-right">  Biểu tượng </label>
                <div class="col-sm-4 col-xs-12">
                    @Html.TextBoxFor(n => n.Icon, new { @class = "form-control", @placeholder = "Icon" })
                    @Html.ValidationMessageFor(n => n.Icon, "", new { @class = "text-danger" })
                </div>
            </div>

            @*<div class="form-group">
                    <label class="col-sm-4 control-label no-padding-right">
                        @await LanguageHelper.GetLanguageText("MENUFUNCTION:GroupFunction")
                    </label>
                    <div class="col-sm-4 col-xs-12">
                        @Html.TextBoxFor(n => n.MenuGroupListId, new { @class = "form-control", @placeholder = await LanguageHelper.GetLanguageText("MENUFUNCTION:GroupFunction") })
                        @Html.ValidationMessageFor(n => n.MenuGroupListId, "", new { @class = "text-danger" })
                    </div>
                </div>*@

            <div class="form-group">
                <label class="col-sm-4 control-label no-padding-right">Thứ tự </label>
                <div class="col-sm-2 col-xs-12">
                    @Html.TextBoxFor(n => n.OrderNumber, new { @class = "form-control", @type = "number", @value = "0" })
                    @Html.ValidationMessageFor(n => n.OrderNumber, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-4 control-label no-padding-right"> Kích hoạt</label>
                <div class="col-sm-8">
                    <label class="line-height-250">
                        @Html.CheckBoxFor(n => n.Active, new { @class = "ace" })
                        <span class="lbl"></span>
                    </label>
                </div>
            </div>

            <div class="ace-settings-container" id="ace-settings-container" style="position: fixed; top: 155px;">
                <div class="btn btn-app btn-xs btn-grey ace-settings-btn open" id="ace-settings-btn">
                    <i class="ace-icon fa fa-cog bigger-130"></i>
                </div>

                <div class="ace-settings-box clearfix open" id="ace-settings-box">
                    <!-- /.pull-left -->
                    <div class="bg-rightbox">
                        <div class="clearfix lineButton">
                            <div class="col-md-12 input-group">
                                <button class="btn btn-success" type="submit" id="Countinue">
                                    <i class="ace-icon fa fa-refresh bigger-110"></i>
                                    Lưu và tiếp tục
                                </button>
                                <button class="btn btn-primary" type="submit">
                                    <i class="ace-icon fa fa-check bigger-110"></i>
                                Lưu và thoát
                                </button>
                                <a href='@Url.Action("Index", new {AreaCode = ViewBag.AreaCodeValue})' class="btn btn-yellow">
                                    <i class="ace-icon fa fa-chevron-circle-left bigger-110"></i>
                                   Quay lại
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- /.pull-left -->
                </div><!-- /.ace-settings-box -->

                @*@await Html.PartialAsync("GroupMenuPartial")*@
            </div>
        }
    </div>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            $("#Countinue").click(function () {
                $("#SaveAndCountinue").val('true');
            });
        });
    </script>
}